@{
    ViewData["Title"] = "AboutUs Page";
}

<div class="text-center">
    <div class="container">
        <h1 class="display-4">TeaShop</h1>
        <div class="d-flex justify-content-between">
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action=" Main">Главная</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About_Us">О нас</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sale">Акции</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Catalog">Каталог</a></span>
        </div>
    </div>
</div>

<div class="for-us">
    <div class="for-us-container">
        <img src="~/images/for_us.jpg" alt="Картинка 2" />
            <div class="text-ab-us-frst">
                <h3>TeaShop - </h3>
                <h5>
                    это магазин чая,
                    которыq проходbт строгий отбор и контроль качества.
                    Каждый пакетик чая, который вы найдёте на полках нашего магазина, 
                    не только вкусный, но и полезный, ведь мы заботимся о вашем здоровье.</h5>
            </div>
    </div>

     <div class="for-us-container-sec">
            <div class="text-ab-us-sec">
                <h5>
                    В нашем чайном магазине мы верим, что чай — это не просто напиток, <br />
                    а целая культура, объединяющая людей и создающая моменты наслаждения.
                </h5>
                <img src="~/images/for_us1.jpg" alt="Картинка 2" />
            </div>
    </div>
</div>

