@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <div class="container">
        <h1 class="display-4">TeaShop</h1>
        <div class="d-flex justify-content-between">
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action=" Main">Главная</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About_Us">О нас</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sale">Акции</a></span>
            <span><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Catalog">Каталог</a></span>
        </div>
    </div>
</div>

<div class="contact-text">
    <div class="contact-container">
        <div class="contact-info">
            <h1>Для связи с нами:</h1>
            <ul>
                <li>Телефон: +7 (123) 456-78-90</li>
                <li>Email: info@example.com</li>
                <li>Адрес: ул. Примерная, д. 1, г. Примерск</li>
            </ul>
        </div>
        <div class="social-media">
            <h2>Мы в социальных сетях:</h2>
             <a href="https://facebook.com">Facebook</a>
             <a href="https://twitter.com">Twitter</a>
             <a href="https://instagram.com">Instagram</a>
        </div>
    </div>
</div>


